@charset "UTF-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}

li, ul {
    font-family: "Times New Roman", Times, serif;
}

li a:hover {
    background-color: #111;
}

body { 
    background-image: url(Images/baggrund.jpg);
	background-attachment: fixed;
	background-position: 0px 35px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	
}

h1 {
	font-size: 40px;
	text-align: left;
}



/*Menufelt*/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	width: 100%;
	text-align: center;
}

li {
    float: left;
	text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:20px;
    text-decoration: none;
	width:100%;
}

li a:hover {
    background-color: #111;
}

nav li {
	
	float:left;
	width:25%;
}

/*Forside logo*/
#logo {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: auto;
	height: auto;
	display: block;
	margin: auto;
	position: absolute;
	top: 50%;
	left:49%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
/*flow knapper*/
#flows {
	padding: 250px 10% 0 20%;
}

#f1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 20px;
}

#f2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: 0px 20px;
}

#f3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: 0px 20px;
}

#f4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: 0px 20px;
}

#f5 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: 0px 20px;
}

/*Det gentagende logo*/
#logotag {
	position: absolute;
	top: 85px;
	left: 80%;
	margin: auto;
	
/*Portræt under mig*/	
}
#portraet {
	position: absolute;
	top: 200px;
	left: 10%;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#vk {
	position: absolute;
	top: 200px;
	left: 25%;
	margin: auto;
}

#xd {
	position: absolute;
	top: 270px;
	left: 57%;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dw {
	position: absolute;
	top: 270px;
	left: 57%;
	margin:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tilbage {
	position: absolute;
	top:405px;
	left:10.5%;
}

/*Tekst under mig*/
.tekst_mig {
	position: absolute;
	top: 225px;
	left: 35%;
	margin: auto;
	font-family:"Times New Roman", Times, serif;
	color: darkslategray;
}

.flow1overskrift1 {
	position: absolute;
	top:103px;
	left: 11%;
	font-style: normal;
	color: dimgrey;
	
}

.flowoverskrift2 {
	position: absolute;
	top:103px;
	left: 11%;
	font-style: normal;
	color: dimgrey;
}

.portfolioxd {
	position: absolute;
	top: 190px;
	left: 11%;
	font-style: normal;
	color: dimgrey;
}

.portfoliodw {
	position: absolute;
	top: 190px;
	left: 11%;
	font-style: normal;
	color: dimgrey;
}

.xd {
	position: absolute;
	top: 215px;
	left:11%;
	color:dimgrey;
	font-size:20px;
}

.dw {
	position: absolute;
	top: 215px;
	left:11%;
	color:dimgrey;
	font-size:20px;
}

.forklaring1 {
	position:absolute;
	top:266px;
	left:11%;
	color:darkslategray;
	margin-right:50%;
}

.forklaring2 {
	position:absolute;
	top:266px;
	left:11%;
	color:darkslategray;
	margin-right:50%;
}
