@charset "UTF-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}



li, ul {
    font-family:'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}

li a:hover {
    background-color: #111;
}

body { 
   	background-image: url(images/background1.jpg);
	background-attachment: fixed;
	background-position: 0px 0px;
	background-repeat:no-repeat;
	background-size:cover;
	z-index: -1;
	
}



/*Navbar boks*/
.container {
	width: 200px;
	height: 700px;
	background: #696969;
	position: fixed;

}

/*Menubaren i sig selv*/
.navbar {
	padding-top: 20px;
	margin: 0 auto;
	position: fixed;
}

/*Selve menuknapperne*/
.menu {
	text-decoration: none;
	color: white;
	background-color: #696969;
	padding: 5px;
	margin: 10px;
	display: inline-block;
	width: 175px;
	text-align: center;

}

/*Menubaren når man stryger musen over menufeltet*/
a.menu:hover{
	color: black;
	background-color: #696969;
}


#navlogo {
	width: 200px;
	height: 167px;
	margin: 0 auto;
}



.h1forside {
	font-family:"Helvetica Neue, light";
	color: black;
	font-weight: lighter;
	display: block;
	top: 6%;
	margin-left: 633px;
	height: auto;
	position: absolute;
	font-size: 30px;
	text-align: center;
}

.h2forside {
	font-family:"Helvetica Neue, light";
	color: black;
	font-weight: lighter;
	display: block;
	top: 11%;
	margin-left: 610px;
	height: auto;
	position: absolute;
	font-size: 20px;
}



.forsidelogo {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	top: 24%;
	margin-left: 500px;
	height: auto;
	position: absolute;
}

.h1projekt {
	font-family:"Helvetica Neue, light";
	color: black;
	font-weight: lighter;
	display: block;
	top: 6%;
	margin-left: 664px;
	height: auto;
	position: absolute;
	font-size: 30px;
	
}

.h4projekt {
	font-family:"Helvetica Neue, light";
	color: black;
	font-weight: lighter;
	display: block;
	top: 12%;
	margin-left: 408px;
	height: auto;
	position: absolute;
}

.project1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	top: 24%;
	margin-left: 345px;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=50);
}

.project1:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
	
}


.project2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	top: 24%;
	margin-left: 605px;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=50);
}

.project2:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.project3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	top: 24%;
	margin-left: 865px;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=50);
}

.project3:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.project4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	top: 45.5%;
	margin-left: 345px;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=50);
}

.project4:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

/*Projekt 1*/

.h1projekt1 {
	font-family:"Helvetica Neue, light";
	color: black;
	font-weight: lighter;
	display: block;
	top: 6%;
	margin-left: 660px;
	height: auto;
	position: absolute;
	font-size: 30px;
}

.h1projekt2 {
	font-family:"Helvetica Neue, light";
	color: black;
	font-weight: lighter;
	display: block;
	top: 6%;
	margin-left: 660px;
	height: auto;
	position: absolute;
	font-size: 30px;
}

/*.bottonboks{
	padding-top: 350px;
	padding-left: 950px;
	margin: 0 auto;
	position: absolute;

}*/

.style-slideshow {
	float: right;
	margin-right: 22%;

	
}

.slider { 
	padding: 0;
	position: relative;
	width: 350px;
}

.ssslide {
	height: 195px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 20%;
	left: 70%;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 50%;
	height: 700px;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}


.button1 {
	text-decoration: none;
	color: white;
	background-color: #696969;
	padding: 10px 15px;
	margin: auto;
	display: block;
	width: 40.5%;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline:none;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3.5px #999;

}

.button1:hover {
	background-color: #515151;
}

.button1:active {
	background-color: #515151;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

/*.button2 {
	margin-top: 10px;
	margin-left: 1040px;
	padding: 5px 20px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: #696969;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3.5px #999;

}

.button2:hover {
	background-color: #515151;
}

.button2:active {
	background-color: #515151;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

.button3 {
	margin-top: 350px;
	margin-left: 1020px;
	padding: 5px 20px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: white;
	background-color: #696969;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3.5px #999;
}*/

.underbaggrund {
	display: block;
	position: fixed;
	top: 81%;
	margin-left: 200px;
}





