/*.slider {
	height: 195px;
	margin-left: 60%; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
	width: 350px;
}*/

.ssslide {
	width: 350px;
	height: 195px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20%;
	left: 70%;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 50%;
	height: 700px;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}



